---
import Layout from "../../layouts/Layout.astro";
import { Picture } from "astro:assets";
import DocsBreadcrumbs from "../../components/DocsBreadcrumbs.astro";
import rush from "../../assets/rush-limbaugh.jpg";

const title = "The Voices in Your Head: Phil Hendrie and the Death of Talk Radio, Part 2";
const description = "Full text of Matt Forney's Part 2 essay (published here with permission).";
const originalUrl = "https://mattforney.substack.com/p/5b35b89a-8249-43dc-b36f-237e51ce8859";
const author = "Matt Forney";
const published = "June 21, 2023";
---

<Layout title={title} description={description} url="/docs/voices-p2/">
	<div class="card">
		<h1>{title}</h1>
		<p>
			<em>by <a href="https://x.com/realmattforney" target="_blank">{author}</a> - {published}</em>
		</p>
		<p>Tracing the decline of the once-influential medium through one of its most unique talents</p>
	</div>

	<DocsBreadcrumbs title="Voices Part 2" />

	<div class="image-container">
		<Picture src={rush} formats={["avif", "webp"]} alt="Rush Limbaugh" class="neo-image" />
		<div class="image-caption">
			Image by <a
				href="https://en.wikipedia.org/wiki/File:Rush_Limbaugh_(49291182727)_(cropped).jpg"
				target="_blank">Gage Skidmore</a
			>
		</div>
	</div>

	<p><em>Read <a href="/docs/voices-p1/">Part 1 here</a></em></p>

	<p>
		The radio stations that Clear Channel, Citadel Broadcasting, and other corporate behemoths had
		snapped up in the wake of 90’s deregulation were bombs in disguise. It was in late 2006 when
		they started going off.
	</p>

	<p>
		The real competitor to your local FM or AM station was not satellite radio. It was the Internet.
		The online realm opened up a world of entertainment to the average consumer, most of which was
		completely free, and the universal adoption of broadband and WiFi in the mid-2000’s sped this
		along. There was simply no way radio could compete.
	</p>

	<p>
		The strong economy of the 90’s and early 2000’s masked radio’s structural problems, such as its
		aforementioned aging demographics or the fact that media conglomerates had overleveraged
		themselves, purchasing radio stations left and right with no plan for long-term profitability.
		When the housing bubble began to leak air in the final years of Dubya’s presidency, the radio
		industry’s flu morphed into full-on tuberculosis. Clear Channel and all the rest were suddenly
		hemorrhaging money with no end in sight and banks unwilling to extend them any credit.
	</p>

	<p>The response was pure bean counter thinking: fire the people at the bottom.</p>

	<p>
		Across America, local radio hosts and DJs were laid off in waves. Talk show hosts were replaced
		with syndicated programming; DJs were replaced with auto-tracking. Smaller market stations had
		their staffs consolidated, so that the voice you heard on your local station was often coming
		from hundreds of miles away. News departments were cut to the bone, traffic and weather
		outsourced.
	</p>

	<p>
		A fine example of how this ruined local stations can be seen in what happened to WSYR, the main
		news/talk station in my hometown of Syracuse. Up until 2006, WSYR had its own full-time news
		department that provided live updates 22 hours per day, 7 days a week. It had in-house traffic
		(along with a traffic copter), weather provided by a local, co-owned TV station, and local
		morning and afternoon hosts, along with a noon news program. Following a wave of Clear Channel
		budget cuts, half of the news staff was fired, cutting live news to 14 hours per day on weekdays
		only. The noon news program was cancelled and the afternoon host had his program lengthened by
		an hour with no increase in his salary. Weather was outsourced to the Weather Channel. The
		traffic departments of news/talk stations WGY and WHAM in Rochester (also owned by Clear
		Channel) were fired, with the WSYR traffic staff expected to file traffic updates for those
		stations (again, with no increase in their salaries). The traffic copter was retired.
	</p>

	<p>
		In Pearl S. Buck’s novel The Good Earth, it is constantly made clear that farming families who
		begin selling off their land have entered a state of irreversible decline, since land is how
		they make their fortune. Local hosts and DJs are the “land” of radio companies. Who wants to
		listen to some generic hack being piped in from halfway across the country? When I tune in to a
		Syracuse station, I don’t want to hear the same pabulum about national politics I can get
		anywhere else; I want to hear about Syracuse or New York issues.
	</p>

	<p>
		Unsurprisingly, these mass firings of local hosts lead to a death spiral for radio firms, with
		audiences leaving, ratings dropping, and revenue falling off. The response from the top was to
		fire even more local hosts, worsening the problem. Corporations also sought to unload their
		least profitable stations, or in the case of multi-media firms like Disney or CBS, divest
		themselves of their radio divisions entirely. As the housing bubble burst into the Great
		Recession, nobody wanted these turkeys on their hands.
	</p>

	<p>
		With the economy contracting, radio executives withdrew into what was safe, familiar, and would
		cost them the least amount of money. CBS’ “Free FM” stations, which had failed to take off, were
		gradually flipped to various music formats; the last ones to go were KLSX in Los Angeles (ending
		Tom Leykis’ terrestrial radio career, as he had hosted that station’s afternoon drive program)
		and WJFK in Washington, D.C., both “blown up” in 2009. Companies began handing syndicated shows
		to TV talking heads and washed-up actors like Joe Scarborough, Dennis Miller, and Fred Thompson,
		which worked as well as when Air America tried it. Just scrape every piece of shit off the
		floor, load it into the cannon, and fire it at the wall. Something will stick eventually.
	</p>

	<p>
		As a coda to this era, XM and Sirius, which terrestrial radio had feared for so long, merged in
		2008 as a last-ditch measure to avoid mutual bankruptcy. This was approved by the FCC despite it
		creating a monopoly. That said, it was clear that satellite radio was so niche that having a
		monopoly on it was like owning all the toothpaste in England.
	</p>
	<h2>***</h2>
	<p>
		It was in this environment that Phil Hendrie abruptly announced that he was returning to radio.
	</p>
	<p>
		The announcement came in June of 2007. The new Phil Hendrie show would air from 1-4AM Eastern
		(10PM-1AM Pacific) and would be syndicated by Talk Radio Network, which also distributed such
		heavyweights as Michael Savage and Laura Ingraham. Hendrie was keen to stress that it would be a
		straight talk show, not featuring his old characters.
	</p>

	<p>
		Why Hendrie decided to return to radio after triumphantly declaring he was done with the
		industry the year before remains a mystery. I can only speculate based on what I knew at the
		time.
	</p>
	<p>
		This is only my personal opinion, but I suspect that Hendrie was driven back to radio by
		financial necessity. In the wake of his 2006 retirement, Hendrie created a newsletter for his
		fans to keep up with his latest projects. I no longer have copies of the emails he sent out, but
		I vaguely recall him claiming in one that he had been hoping to work on a project with Simpsons
		creator Matt Groening. However, a glance at <a
			href="https://www.imdb.com/name/nm1042825/"
			target="_blank">his IMDB page</a
		> shows that he only landed four roles during this time: a recurring role on The Unit, a two-episode
		role on The Replacements, a few episodes of King of the Hill, and a role in the “TV movie” Three
		Strikes. Additionally, in 2007, Hendrie divorced his wife, fellow talk show host Maria Sanchez. Again,
		this is just my opinion, but it is entirely possible Hendrie had no choice but to return to radio
		in order to pay his bills.
	</p>

	<p>
		Hendrie’s new show launched on June 25, little more than a year after his “retirement.” It
		initially only aired on a handful of affiliates, though it would eventually expand to cover as
		many stations as his Premiere run, including its new flagship, KTLK 1150 in LA. Some stations,
		such as WGY, would air day-old recordings of the show in his old 10PM-1AM Eastern/7-10PM Pacific
		timeslot. I tuned in the first night on an Internet stream and was treated to the sound of an
		utterly broken man. Hendrie sounded bored, frustrated, and like he would rather be anywhere
		else.
	</p>

	<p>
		Moreover, Hendrie simply could not handle hosting a normal talk show. Having spent much of his
		career interacting with callers via the crutch of his characters, free to deride them without
		consequences and fully aware of how stupid they were, he was adrift and listless without that
		crutch. During his first week, he took a call from a deranged woman who ranted for several
		minutes about how Barack Obama was the Antichrist. He nodded along in a stupor before thanking
		her, hanging up, and saying that no, he didn’t think Obama was the Antichrist.
	</p>
	<p>
		I couldn’t believe what I’d just heard. The old Phil Hendrie would have torn that woman a new
		asshole and then shoved her head right through it. Bobbie Dooley, Jay Santos, or any of his
		other “guests” would have driven her to tears. The new Phil Hendrie couldn’t even muster the
		courage to politely disagree with her until she was safely off the line.
	</p>
	<p>
		Hendrie was well-aware of how buckbroken he had become and how disastrous his attempt at being
		the late-night liberal Rush Limbaugh was going. Before the end of the week, on Friday’s show, he
		had already brought his old characters back, but with one catch: they were only on for short
		segments, with no callers. This was certainly an improvement over listening to him mumble
		through the day’s headlines, and he’d occasionally put together some bangers (such as the high
		school teacher “caucus” bit), but it was nowhere near his previous heights.
	</p>
	<h2>***</h2>
	<p>
		As the radio industry wheezed for breath, pressure groups discovered that yes, these white men
		can bleed.
	</p>
	<p>
		Local hosts have never really been safe and could always find themselves in the unemployment
		line after going too far. Bob Grant was dethroned from WABC’s afternoon drive slot in 1996 after
		an off-the-cuff comment about the death of Secretary of Commerce Ron Brown in a plane crash. A
		weekend host at WGY was fired during my college years for saying “asshole” and “blowjob” during
		the same show. But for the longest time, successful right-wing syndicated talkers were
		untouchable. That was, until the Great Recession.
	</p>

	<p>
		The first major cancellation came in 2007, when Don Imus was <a
			href="https://web.archive.org/web/20170718090519/http://www.today.com/popculture/cbs-fires-don-imus-radio-show-wbna18072804"
			target="_blank">banished from his show</a
		> barely a week after referring to the Rutgers University women’s basketball team as “nappy-headed
		hoes.” As far as Imus’ long list of sins went, it seemed kind of mild in context, seeing as his was
		the show where a guy <a
			href="https://web.archive.org/web/20160304100143/http://www.cair.com/press-center/press-releases/1067-palestinians-called-stinking-animals-on-msnbc-s-imus.html"
			target="_blank">called for the mass murder of Palestinians</a
		>
		and said that the Williams sisters were “animals,” among other things. Nonetheless, Imus’ show was
		dropped for the racist remark. I strongly suspect that MSNBC (which simulcast his show) and Westwood
		One (which syndicated it) had both wanted to replace Imus with a younger host for the longest time
		and saw the incident as a way to void his contract without looking ageist. Thanks to corporate abacus
		thinking, Imus would get a second wind later that year, hired by competitor WABC and re-launched
		into syndication as a replacement for Curtis Sliwa and Ron Kuby’s morning show, with the latter shown
		the door in yet another Great Recession budget cut. However, Imus’ new show would fail to reach the
		success it had during his tenure with MSNBC and Westwood One.
	</p>
	<p>
		In 2012, Rush Limbaugh attacked Sandra Fluke, a Democratic political operative who testified to
		Congress advocating that Catholic institutions, such as Georgetown University (where she was a
		student), should be required to offer contraceptives without a co-pay as part of their insurance
		plans. Limbaugh’s remarks about Fluke, in which he called her a “slut” and a “prostitute,”
		galvanized a major boycott against his advertisers. Unlike previous efforts against Limbaugh,
		the Fluke campaign was successful, <a
			href="https://web.archive.org/web/20140306032410/http://www.forbes.com/sites/onmarketing/2012/03/16/what-brands-can-learn-from-the-flush-rush-movement/"
			target="_blank">resulting in his show losing numerous sponsors</a
		> and many of his affiliates being outright blacklisted by advertisers. Many longtime affiliates,
		such as WABC, <a
			href="https://web.archive.org/web/20150531054625/http://darrylparks.com/2015/05/27/the-business-of-being-rush-limbaugh/"
			target="_blank">would end up dropping the show</a
		>, unable to afford Limbaugh’s carriage fee due to the loss of advertising revenue. The
		blacklist also impacted other shows, causing the collapse of the Wall Street Journal Radio
		Network due to their significant affiliate overlap with Limbaugh. For most of Rush’s career,
		program directors would have sold their mothers into slavery to get him on their stations. Now,
		he was dead weight.
	</p>
	<h2>***</h2>
	<p>
		On September 14, 2009, Phil Hendrie announced that his show would be returning to its original
		format: hour-long interviews with his merry band of eccentric guests, along with plenty of
		caller abuse. This change would coincide with a long, slow decline that would end with him
		leaving radio for good.
	</p>

	<p>
		In the years following Hendrie’s return to his classic style, the show began shedding
		affiliates. This is bad for any syndicated show, but was amplified in the case of Hendrie’s
		program, since his shtick relied on a steady stream of clueless callers to ridicule. Hendrie
		blamed his syndicator, TRN, for failing to market his program effectively. Subscribers to his
		Backstage Pass service got to stream his show via his website, including uncensored moments
		during commercial breaks; during this time, Hendrie became known for flipping out and going on
		profanity-filled rants about TRN, which subscribers would record and post to fan forums for a
		laugh.
	</p>

	<p>
		Hendrie's complaints about TRN likely have some validity. At the same time stations were
		dropping his show left and right, TRN was embroiled in a lawsuit with its star host, Michael
		Savage, who sought to end his contract with the company and void a clause that allowed TRN to
		match other offers in perpetuity. <a
			href="https://rbr.com/michael-savage-wins-trn-suit-leaves-the-network/"
			target="_blank">Savage would ultimately win his lawsuit in 2012</a
		> after a court ruled that the clause was unenforceable, allowing him to finally take his show to
		another network. Two months after Savage's departure, another major TRN host, Laura Ingraham, would
		also leave the company. The fact that other hosts were having problems with TRN lends credibility
		to Hendrie's grievances. TRN would ultimately cease operations without warning in 2017.
	</p>

	<p>
		However, Hendrie has historically had what could be described as a strained relationship with
		his fanbase. Some of what I'm about to describe comes from Hendrie fan sites that are no longer
		online and is being reconstructed from memory, so please take it with a grain of salt.
	</p>

	<p>
		The Phil Hendrie Show attracted a cult following over the years, with numerous fans collecting
		airchecks (recordings) of Hendrie's broadcasts and becoming devotees to his unique brand of
		comedy. But Hendrie has always seemed to hold his fans in contempt. I remember reading a forum
		post in which Hendrie was described as bragging about how fans would, at in-person events, bring
		him little homemade gifts based on his various characters and he would just throw them in the
		garbage. When he initially retired in 2006, he began taking calls from actual fans for the first
		time, but he was always slightly snide or dismissive to them. One fan who called in said
		something to the effect of, " I don't know what I'm going to do with you off the air," to which
		Hendrie rudely replied along the lines of, "You could do literally anything else." Hendrie also
		remarked another time that <a
			href="https://www.reddit.com/r/philhendrie/comments/10q6ewv/comment/j6p9ls4/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button"
			target="_blank">he felt personally bothered</a
		> when fans recognized him in public and asked for autographs.
	</p>
	<p>
		I'm loathe to diagnose a man from afar, but Hendrie's self-aggrandizing behavior and belittling
		of his fans and others has a very narcissistic bent. On air, Hendrie would regularly proclaim
		himself to be a genius, that he was solely responsible for his show's success, that no one was
		as talented as him or capable of doing what he does. And when his show started circling the
		drain, he began lashing out and blaming everyone but himself. Many of his fans argued that the
		real reason Hendrie was losing affiliates was because he was no longer putting in the work, that
		the show was killing their ratings due to his clear disinterest in hosting a good program. Other
		fans have argued that part of the reason Hendrie initially retired in 2006—and why he was
		half-assing his new show by the end of the oughts—was because <a
			href="https://www.reddit.com/r/philhendrie/comments/tl45jg/comment/i210xtr/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button"
			target="_blank"
			>the Internet made it increasingly difficult for him to fool callers as to who he was</a
		>, meaning he could no longer control conversations as adroitly as he could in the past, an
		affront to his sensibilities.
	</p>

	<p>
		It's arguable that Hendrie's alienation from radio in 2006 and frequent criticisms of the medium
		may have been driven in part by his belief that he wasn't getting the recognition that he felt
		he deserved. It certainly seemed to fuel his resentment of Tom Leykis, who, whatever his flaws,
		hosted a more popular radio show than Hendrie, made more money, and retained his popularity
		after leaving the terrestrial airwaves. Leykis certainly seems to have a far more amiable
		relationship with his fanbase at least.
	</p>

	<p>
		Another sore point between Hendrie and his fans was his insistence on issuing DMCA takedowns
		against anyone who posted clips of his show on YouTube or other sites. While I can understand
		why he wouldn't want his content being spread around for free, Hendrie's constant takedowns
		prevented his show from gaining a new audience in the Internet age. Hendrie's militant obsession
		with DMCAing his content went to the point where <a
			href="https://www.reddit.com/r/philhendrie/comments/tl45jg/comment/i1u63qj/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button"
			target="_blank">he destroyed a fan site that was writing up detailed analyses of his shows</a
		>, promoting his content for free, even writing an extremely nasty email to the owner.
	</p>

	<p>
		On June 25, 2013, six years to the day when his show relaunched, Phil Hendrie ended his run on
		Talk Radio Network. His show would briefly migrate to Dial Global before leaving radio
		altogether in 2014. It now exists as a daily podcast known as The World of Phil Hendrie,
		released via his website. I've listened to the free episodes a few times, but it has the same
		problem that the 2007-2009 incarnation of his show had: the central comedy of Hendrie's program
		was the callers, not the guests.
	</p>

	<p>
		More so than other kinds of radio programs, The Phil Hendrie Show can’t be replicated on the
		Internet. It relied on random cranks flipping through their dials, not knowing that his guests
		were fake, and picking up their rotary phones in a fit of contrived rage. Everyone who consumes
		Internet content does so willingly, with full knowledge of who the host is. There’s nobody to
		fool anymore.
	</p>
	<h2>***</h2>
	<p>On February 17, 2021, Rush Limbaugh passed away from lung cancer.</p>
	<p>
		Many would likely cite his death as marking the end of talk radio itself, but in reality
		Limbaugh’s passing was more like the maggot biting off the final bit of flesh rather than the
		patient expiring. By the time Limbaugh died, corporate bean counting, mergers, budget cuts, and
		collapses had shrunk the radio industry to a fraction of its former size.
	</p>
	<p>
		By the time Limbaugh went to that great broadcast booth in the sky, corporate bean counting,
		mergers, budget cuts, and collapses had shrunk the radio industry to a fraction of its former
		size. Local programming is an anachronism; even long-time holdouts such as WGN in Chicago and
		WLW in Cincinnati have started to rely on syndicated programs. News departments are a joke. One
		of the talk stations in Syracuse went off the air in 2016 because the owner couldn’t afford to
		fix the transmitter. It stayed silent for a year before they eventually sold it to a Christian
		broadcaster.
	</p>
	<p>
		In 2014, Clear Channel Communications renamed itself iHeartMedia. This was to acknowledge that
		its iHeartRadio online streaming platform had become its primary focus. Who under the age of 55
		even knows what a clear channel station is anymore?
	</p>
	<p>
		Radio’s complete failure to groom a successor for Limbaugh after over a decade of decimating its
		“farm team” of local hosts via nonstop budget cuts led to the absurdity of Premiere Networks
		(again, we see radio companies erasing radio references from their names) airing clip shows for
		three months after his passing while they scrambled to find a replacement. The eventual
		successors, a pair of unknown hacks named Clay Travis and Buck Sexton, continued to use
		Limbaugh’s old clips and “EIB Network” branding on their show for months afterward. This is the
		Con, Inc. version of the Soviets putting Lenin’s stuffed corpse on display in Red Square.
	</p>
	<h2>***</h2>
	<p>
		The last time I thought about Phil Hendrie, before I sat down to write this essay, was in 2016.
		He had gotten into a tiff with Mike Cernovich on Twitter.
	</p>
	<p>
		I clicked over to Hendrie’s page. Every single Tweet was him freaking out over Donald Trump. Not
		funny, not lampooning the situation, just pure unadulterated fear. The old Phil Hendrie would
		have thought the idea of Trump running for president was hilarious. He’d have turned it into an
		hour-long interview with one of his “guests” and ended it with making a bunch of MAGA boomers
		look like total idiots. The new Phil Hendrie was wetting his diaper in public.
	</p>
	<p>
		And he was getting ratioed by Cernovich. A guy who has a role on <em>Rick and Morty</em>, who
		used to have a million listeners, whose radio show was syndicated on the same network as Rush
		Limbaugh,
		<em>was getting ratioed by Mike Cernovich.</em>
	</p>
	<p>
		A glance at Hendrie’s IMDB page suggests that his acting career is doing okay. In addition to
		his aforementioned role as Principal Vagina, he’s also appeared in 41 episodes of <em
			>F is for Family</em
		>, 8 episodes of <em>The Midnight Gospel</em>, 3 episodes of <em>New Girl</em>, and a ton of
		other movies and TV shows. His website is presumably making money, with his Backstage Pass
		service offering unlimited access to his World of Phil Hendrie podcasts and his massive back
		catalogue of radio shows. I hope he’s doing well.
	</p>
	<p>
		That said, a cursory glance at a subreddit dedicated to Phil Hendrie’s work indicates that fans
		have given up on him. Complaints range from him <a
			href="https://www.reddit.com/r/philhendrie/comments/14bfde9/he_actually_did_a_12_min_podcast_why_bother_and_3"
			target="_blank">being increasingly lazy with recording and uploading new podcasts</a
		> to <a
			href="https://www.reddit.com/r/philhendrie/comments/10q6ewv/why_phil_never_went_mainstream/"
			target="_blank">his extraordinarily bitter attitude online</a
		>; he apparently spends much of his time arguing with fans on social media. One can argue that
		the only true character Hendrie ever played was the reasonable straight man, and the outlandish
		guests he portrayed, the ones who insulted and abused callers, were who he really was.
	</p>
	<p>
		The radio transmitters are falling silent. Rush Limbaugh, Bob Grant, and Art Bell are all dead.
		Demographically, less than eight percent of talk radio listeners are in the desired 25-54 age
		range. Every time you see a hearse on the road, that’s another Glenn Beck or Sean Hannity fan
		off to the hereafter. This is likely why liberal calls to reinstate the Fairness Doctrine have
		faded—the most notable being <a
			href="https://web.archive.org/web/20201127185141/https://projects.propublica.org/represent/bills/116/hr4401"
			target="_blank">a bill introduced by Tulsi Gabbard in 2019</a
		> that failed to make it out of committee—and the focus is now on combating “disinformation” on social
		media platforms like Twitter, where the majority of Americans now get their entertainment.
	</p>
	<p>
		I haven’t listened to the radio in well over a decade, but I can’t help but feel that its
		passage into the history books is an immeasurable cultural loss. There was something about talk
		radio that the Internet will never be able to capture. It was cool to drive down a highway at
		night, dial into faraway AM stations, and discover a host you wouldn’t ordinarily be able to
		pick up. Good talk hosts projected a certain intimacy with the listener, a unique charisma
		that’s been lost in an era where anyone with a $30 mic can record their thoughts and put them
		online. The feeling of listening to Art Bell or Steve LeVeille while hurtling down the Thruway
		is something no podcast is ever going to replicate.
	</p>
	<p>
		More to the point, radio gave us a sort of unity. The Internet affords you a worldwide reach,
		but local hosts had a greater percentage of people in their hometowns hanging off their words.
		Bob Grant helped end the political careers of David Dinkins, Jim Florio, and Mario Cuomo. Chapo
		Trap House couldn’t even get Bernie Sanders past Super Tuesday. Yes, you can get your music from
		Spotify and your hot takes from Red Scare, but radio was more than a jukebox or a take machine.
		It was America itself, compressed into audio format and piped through your car speakers on your
		way home from work. NPR, talk radio, music: all of it.
	</p>
	<p>
		Radio’s days were numbered when the Internet came around. Phil Hendrie, whatever his flaws and
		mistakes, saw what was coming. He built a career off of exploiting the industry’s flaws. But his
		act couldn’t make the transition to the new world.
	</p>
	<p><em>Follow Matt Forney X at <a href="https://x.com/realmattforney">@realmattforney</a></em></p>
</Layout>
